@model FacturaModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Factura
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Factura" method="post">
            <input asp-for="idFactura" type="hidden" />
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar la factura?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Factura" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
