@model ComprobanteModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Comprobante
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Comprobante" method="post">
            <input asp-for="idTipoComprobante" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el tipo de comprobante: @Html.DisplayFor(m => m.tipoComprobante)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Comprobante" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

