@model CORETeleco.Models.ClienteModel
@{
    ViewData["Title"] = "EliminarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Cliente
    </div>
    <div class="card-body">

        <form asp-action="EliminarCliente" asp-controller="Cliente" method="post">
            <input asp-for="IdCliente" type="hidden" />

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el cliente: @Html.DisplayFor(model => model.nombreCliente) ?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Cliente" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>