@model CORETeleco.Models.ProductoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Producto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Producto" method="post">
            <input asp-for="idProducto" type="hidden" />
            <p>¿Estás seguro de eliminar el producto <strong>@Model.nombreProducto</strong>?</p>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Producto" class="btn btn-warning">Cancelar</a>
        </form>
    </div>
</div>
