@model CategoriaModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Categoría
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="Categoria" method="post">
            <input asp-for="idCategoriaProducto" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar la categoría: @Html.DisplayTextFor(m => m.categoriaProducto)?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" asp-controller="Categoria" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

