@model CategoriaModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Categoría
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Categoria" method="post">
            <div class="mb-3">
                <label class="form-label">Categoría</label>
                <input asp-for="categoriaProducto" type="text" class="form-control">
                <span asp-validation-for="categoriaProducto" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Categoria" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>


