@model CORETeleco.Models.ProductoFacturaModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar Producto en Factura
  </div>
  <div class="card-body">
    <form asp-action="Editar" asp-controller="ProductoFactura" method="post">
      <input asp-for="idFactura" type="hidden" class="form-control">
      <input asp-for="idProducto" type="hidden" class="form-control">
      <div class="mb-3">
        <label class="form-label">Cantidad</label>
        <input asp-for="cantidad" type="number" class="form-control">
        <span asp-validation-for="cantidad" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a asp-action="Listar" asp-controller="ProductoFactura" asp-route-idFactura="@Model.idFactura" class="btn btn-warning">Volver a la lista</a>
    </form>
  </div>
</div>
