@model CORETeleco.Models.ProductoFacturaModel
@{
    ViewData["Title"] = "Eliminar ProductoFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar ProductoFactura
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" method="post">
            <input asp-for="idFactura" type="hidden" />
            <input asp-for="idProducto" type="hidden" />
            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el producto facturado con IdFactura: @Html.DisplayFor(model => model.idFactura) e IdProducto: @Html.DisplayFor(model => model.idProducto) ?
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Listar" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
