@model CORETeleco.Models.ProductoFacturaModel
@{
    ViewData["Title"] = "Guardar ProductoFactura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear ProductoFactura
    </div>
    <div class="card-body">
        <form asp-action="Guardar" method="post">
            <div class="mb-3">
                <label class="form-label">IdFactura</label>
                <input asp-for="idFactura" type="text" class="form-control" />
                <span asp-validation-for="idFactura" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">IdProducto</label>
                <input asp-for="idProducto" type="text" class="form-control" />
                <span asp-validation-for="idProducto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Cantidad</label>
                <input asp-for="cantidad" type="text" class="form-control" />
                <span asp-validation-for="cantidad" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>
